.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  border-radius: 50px;

  .wrapper {
    justify-self: center;
    align-items: center;
    align-self: center;
    font-size: 8vw;
    line-height: 3;
    height: 80%;
    margin: 40px 10px;
    padding: 10px;

    .name {
      font-size: 12vw;
    }

  }

}

.btn-wrapper {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .button {
    margin: 2px;
    outline: none !important;
  }
}

.warning {
  font-size: small;
  text-align: left;
  line-height: 1;
  margin: 0px 22px;

}

.border-green {
  display: flex;
  flex-direction: column;
  height: 13vh;
  justify-content: space-around;
}

.custom-input {
  width: 90%;
  align-self: center;
  font-size: large;
}
