/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: black }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
color: #919090;
}

@font-face {
  font-family  : 'dos';
  src: url('assets/dos.ttf') format('truetype');
}
* {
  font-family : 'dos' !important ;
}
.color-dark{
  background-color: #181d2a !important;
  color:white;
}
.color-light {
  background-color: #2e74b7 !important;
color: white;
}
.border-light{
  border : 1px solid #2e74b7;
  border-radius: 4px;
}
.text-large{
  text-align: center;
  color: #919090;
font-weight: bolder;
  font-size: xxx-large !important;
}
h1{

  font-size : xxx-large;
}
.button{
  background-color: #919090;
  color: black;
  border: none;
  border-radius: 4px;
  height:3vh;
  width:20vw;
  font-size:large;

}
.input {
  background-color: black;
  border: 1px solid #919090;
  border-radius: 3px;
  height:5vh;
  max-height:30px;
  color:#919090;
  font-size:x-large;
  text-align : center;
  outline : none !important;
:focus{
  outline : none;
}
}
a{
  text-decoration: none;
  color: inherit;
}
.cpt {
  cursor :pointer;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
