.container {
  height:100%;
  display : grid;
  grid-template-rows : 5% 88% 5%;
  grid-row-gap: 6px;
  overflow: hidden;
color: darkslategrey;
  border-radius: 50px;
}
.input-container{
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 19px;

  .icon {
    align-items: start;
    margin:10px;
  }
}
.text {
  width:100%;
}

.message-container{
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  26px 26px 52px #9d9d9d,
  -26px -26px 52px #ffffff;
  border-radius: 5px;
  margin:0px 31px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.text-left {
  text-align: start;
  width:90%;
margin:10px;
  font-size: large;
}
.message {
  padding : 0px 10px;
  font-size: large;
}
.exit-container{
  font-size: large;
  padding: 10px 19px;
  display: flex;
  justify-content: space-between;
  .ext-button {
    button{
      width:100%;
      color: green;
      margin-left:12px;
    }
  }
}
.IP-container {
  color : green;

height:3.0vh;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  26px 26px 52px #9d9d9d,
  -26px -26px 52px #ffffff;
  p{
    align-self: center;
    align-items: center;
  }
  margin-right:10px;
  width:60%;
  text-align: center;
  border-radius: 4px;
}
.senderName {
  font-size: small;

  p {
    margin-bottom: 1px !important;
  }
}
.input-wrapper{
  width:80%;
}
