<div class="container card-style">
    <div class="exit-container cpt"><div class="ext-button "><a [routerLink]="['/chat/hall']"><button class="button card-style " ><- Exit</button></a></div>
        <div class="IP-container card-style"><p>{{selfIP}}</p></div>
    </div>
    <div class="message-container card-style" #scrollMe>
        <div class="message">
            <ng-container *ngFor="let item of data;">
                <div class="senderName" [ngStyle]="item.sender_ip == selfIP ? {'text-align':'right', 'color':'green'}:{'text-align':'left','color':'red'}">
                    <p>{{item.sender_ip}} :</p></div>
                <div class="text"
                     [ngStyle]="{'text-align':item.sender_ip == selfIP ? 'right':'left'}">{{item.message}}</div>
            </ng-container>
        </div>
    </div>
    <div class="input-container">
        <div class="input-wrapper"><input class="input text-left card-style" #inpRef (keyup)="setMessage($event , inpRef)"></div>
        <div class="icon cpt" (click)="sendData();inpRef.value = ''"><button class="button btn-send card-style">SEND</button></div>
    </div>

</div>
