.container {
  height:100%;
  display : grid;
  grid-template-rows : 4% 88% 7%;
  grid-row-gap: 10px;
  overflow: hidden;

}
.input-container{
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 19px;

  .icon {
    align-items: start;
  }
}
.text {
  width:100%;
}

.message-container{

  border: 1px solid;
  border-radius: 5px;
  margin:0px 31px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.text-left {
  text-align: start;
  width:90%;
  margin-left:10px;
}
.message {
  padding : 0px 10px;
  font-size: large;
}
.exit-container{
  font-size: large;
  padding: 10px 19px;
  display: flex;
  justify-content: space-between;
}
.IP-container {
  color : green;
  border: 1px solid;
height:2.5vh;
  p{
    align-self: center;
    align-items: center;
  }
  margin-right:10px;
  width:30vw;
  text-align: center;
  border-radius: 4px;
}
.senderName {
  font-size: small;

  p {
    margin-bottom: 1px !important;
  }
}
